{{>header}}
{{>navbar}}

<div class="container mt-5 text-center">

    <div class="row">
        <h1>Welcome to GN CONSTRUCTIONS</h1>
            <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur repellendus, rerum repellat quidem quaerat ex, quis reprehenderit blanditiis nostrum natus quos nobis consectetur dolor hic mollitia. Earum cumque dolorum corporis!</p>
    </div>
</div>


{{>footer}}